.elementor-26 .elementor-element.elementor-element-199bbb3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 10px 0px;
    --background-transition: 0.3s;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-26 .elementor-element.elementor-element-199bbb3:not(.elementor-motion-effects-element-type-background),
.elementor-26 .elementor-element.elementor-element-199bbb3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FAFAFA;
}

.elementor-26 .elementor-element.elementor-element-199bbb3,
.elementor-26 .elementor-element.elementor-element-199bbb3::before {
    --border-transition: 0.3s;
}

.elementor-26 .elementor-element.elementor-element-4cfd8bf {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 10px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 03px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 03px;
    --border-left-width: 0px;
    border-color: #E2E2E2;
    --border-color: #E2E2E2;
    --border-radius: 0px 0px 0px 0px;
}

.elementor-26 .elementor-element.elementor-element-4cfd8bf,
.elementor-26 .elementor-element.elementor-element-4cfd8bf::before {
    --border-transition: 0.3s;
}

.elementor-26 .elementor-element.elementor-element-b496756 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-26 .elementor-element.elementor-element-d903d15 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-weight: 600;
}

.elementor-26 .elementor-element.elementor-element-ea2177d .elementor-heading-title {
    color: var( --e-global-color-15ac7f1);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-26 .elementor-element.elementor-element-ae412c7 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 10px;
    --background-transition: 0.3s;
}

.elementor-widget-button .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-26 .elementor-element.elementor-element-421e694 .elementor-button:hover,
.elementor-26 .elementor-element.elementor-element-421e694 .elementor-button:focus {
    background-color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-26 .elementor-element.elementor-element-421e694 .elementor-button {
    font-family: "Nunito", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-accent);
    padding: 15px 15px 15px 15px;
}

.elementor-26 .elementor-element.elementor-element-9993897 .elementor-button {
    background-color: #16B42B00;
    font-family: "Nunito", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    fill: var( --e-global-color-text);
    color: var( --e-global-color-text);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-text);
    padding: 15px 15px 15px 15px;
}

.elementor-26 .elementor-element.elementor-element-9993897 .elementor-button:hover,
.elementor-26 .elementor-element.elementor-element-9993897 .elementor-button:focus {
    background-color: var( --e-global-color-secondary);
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-secondary);
}

.elementor-26 .elementor-element.elementor-element-9993897 .elementor-button:hover svg,
.elementor-26 .elementor-element.elementor-element-9993897 .elementor-button:focus svg {
    fill: var( --e-global-color-primary);
}

.elementor-26 .elementor-element.elementor-element-cea7318 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 10px;
    --background-transition: 0.3s;
}

.elementor-26 .elementor-element.elementor-element-f3c4e4d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-26 .elementor-element.elementor-element-6551ba7 {
    text-align: left;
}

.elementor-26 .elementor-element.elementor-element-6551ba7 img {
    width: 100%;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-26 .elementor-element.elementor-element-d6b0c8c {
    color: var( --e-global-color-15ac7f1);
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
}

.elementor-26 .elementor-element.elementor-element-de190f7 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-26 .elementor-element.elementor-element-1fb3b2a .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.elementor-26 .elementor-element.elementor-element-c2dd00d {
    --display: flex;
    --justify-content: flex-start;
    --background-transition: 0.3s;
}

.elementor-26 .elementor-element.elementor-element-950a925 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-26 .elementor-element.elementor-element-a477874 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-a477874 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26 .elementor-element.elementor-element-a477874 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26 .elementor-element.elementor-element-a477874 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26 .elementor-element.elementor-element-a477874 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-26 .elementor-element.elementor-element-a477874 .elementor-icon-list-text {
    color: var( --e-global-color-15ac7f1);
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-f7427a2 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-26 .elementor-element.elementor-element-2438241 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-2438241 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26 .elementor-element.elementor-element-2438241 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26 .elementor-element.elementor-element-2438241 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26 .elementor-element.elementor-element-2438241 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-26 .elementor-element.elementor-element-2438241 .elementor-icon-list-text {
    color: var( --e-global-color-15ac7f1);
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-d4934d8 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-26 .elementor-element.elementor-element-8643b06 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-26 .elementor-element.elementor-element-d40018a .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-d40018a .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26 .elementor-element.elementor-element-d40018a {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26 .elementor-element.elementor-element-d40018a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26 .elementor-element.elementor-element-d40018a .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-26 .elementor-element.elementor-element-d40018a .elementor-icon-list-text {
    color: var( --e-global-color-15ac7f1);
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-5ec6639 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-26 .elementor-element.elementor-element-95bb3e6 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-26 .elementor-element.elementor-element-27f6072 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-27f6072 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26 .elementor-element.elementor-element-27f6072 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26 .elementor-element.elementor-element-27f6072 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26 .elementor-element.elementor-element-27f6072 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-26 .elementor-element.elementor-element-27f6072 .elementor-icon-list-text {
    color: var( --e-global-color-15ac7f1);
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-33f4fde .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-26 .elementor-element.elementor-element-5247dbd .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-5247dbd .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26 .elementor-element.elementor-element-5247dbd {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26 .elementor-element.elementor-element-5247dbd .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26 .elementor-element.elementor-element-5247dbd .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-26 .elementor-element.elementor-element-5247dbd .elementor-icon-list-text {
    color: var( --e-global-color-15ac7f1);
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-8cbaf90 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-26 .elementor-element.elementor-element-66b4b0c .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-26 .elementor-element.elementor-element-9281960 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-9281960 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26 .elementor-element.elementor-element-9281960 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26 .elementor-element.elementor-element-9281960 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26 .elementor-element.elementor-element-9281960 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-26 .elementor-element.elementor-element-9281960 .elementor-icon-list-text {
    color: var( --e-global-color-15ac7f1);
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-6870cd5 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.elementor-26 .elementor-element.elementor-element-662e629 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-26 .elementor-element.elementor-element-662e629 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-26 .elementor-element.elementor-element-662e629 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-26 .elementor-element.elementor-element-662e629 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-26 .elementor-element.elementor-element-662e629 .elementor-icon-list-item>a {
    font-family: "Open Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-26 .elementor-element.elementor-element-662e629 .elementor-icon-list-text {
    color: var( --e-global-color-15ac7f1);
    transition: color 0.3s;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(min-width:768px) {
    .elementor-26 .elementor-element.elementor-element-ae412c7 {
        --width: 80%;
    }
}

@media(max-width:767px) {
    .elementor-26 .elementor-element.elementor-element-d903d15 .elementor-heading-title {
        font-size: 24px;
    }
    .elementor-26 .elementor-element.elementor-element-ea2177d .elementor-heading-title {
        font-size: 16px;
    }
    .elementor-26 .elementor-element.elementor-element-ae412c7 {
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: stretch;
        --gap: 20px 20px;
    }
    .elementor-26 .elementor-element.elementor-element-421e694.elementor-element {
        --align-self: stretch;
    }
    .elementor-26 .elementor-element.elementor-element-9993897.elementor-element {
        --align-self: stretch;
    }
}